RewriteEngine On

# Don't rewrite requests for CSS, JS, favicon, impressum, and datenschutz
RewriteCond %{REQUEST_URI} !^/css/
RewriteCond %{REQUEST_URI} !^/js/
RewriteCond %{REQUEST_URI} !^/favicon.png
RewriteCond %{REQUEST_URI} !^/impressum$
RewriteCond %{REQUEST_URI} !^/impressum.html$
RewriteCond %{REQUEST_URI} !^/datenschutz$
RewriteCond %{REQUEST_URI} !^/datenschutz.html$
RewriteCond %{REQUEST_URI} !^/index.php$

# Internal rewrite to index.php for everything else
RewriteRule ^(.*)$ /index.php [L]
